*.iml
.gradle
/local.properties
.idea/*
!.idea/codeStyles/
!.idea/codeStyles/**
!.idea/inspectionProfiles/
!.idea/inspectionProfiles/**
!.idea/runConfigurations/
!.idea/runConfigurations/**
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.claude
CLAUDE.md